<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://android.com"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:padding="16dp">

    <Button
        android:id="@+id/btnLoginYouTube"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Login dengan YouTube (Google)" />

    <EditText
        android:id="@+id/etPromptAi"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:hint="Ketik topik video di sini (ex: Fakta Unik Kucing)"
        android:layout_marginTop="24dp" />

    <Button
        android:id="@+id/btnGenerateVideo"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Generate Video AI Terbaik"
        android:layout_marginTop="8dp" />
</LinearLayout>
